/* Specific Item Task Classes */
.action-box {
    background: #13141B;
    padding: 40px 45px;
    border-radius: 8px;
}

.service-item-card {
    background: #13141B;
}

.action-buttons {
    display: flex;
    justify-content: center;
}

/* General Item Task Classes */
.card-title {
    color: #fff;
}

#searchBar {
    background: #fff;
    color: #000;
    font-weight: 600;
}

#searchBar::placeholder {
    color: #000;
    font-style: italic; 
    opacity: 1;
}