{% extends 'base.html' %}
{% block content %}
<div class="container mt-5">
    <h1 class="text-center mb-5">Boring Stuff Automation Service</h1>
    {% if user.is_authenticated %}
    <input type="text" id="searchBar" class="form-control mb-4" placeholder="Search tasks...">
    <div class="row"  id="taskContainer">
        <div class="col-md-4">
            <a href="{% url 'export_data' %}" class="text-decoration-none">
                <div class="card service-item-card p-2 bg-primary">
                    <div class="card-header">
                        <h4 class="card-title">Export Data</h4>
                    </div>
                    <div class="card-body text-light">
                        <p class="card-text">Export data to CSV file and send it to user email.</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-4">
            <a href="{% url 'import_data' %}" class="text-decoration-none">
                <div class="card service-item-card p-2 bg-primary">
                    <div class="card-header">
                        <h4 class="card-title">Import Data</h4>
                    </div>
                    <div class="card-body text-light">
                        <p class="card-text">Import data from CSV file to service database.</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-4">
            <a href="{% url 'send_email' %}" class="text-decoration-none">
                <div class="card service-item-card p-2 bg-success">
                    <div class="card-header">
                        <h4 class="card-title">Bulk Emails</h4>
                    </div>
                    <div class="card-body text-light">
                        <p class="card-text">Send emails in bulk mode to multiple recipients.</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-4 mt-5">
            <a href="#" class="text-decoration-none">
                <div class="card service-item-card p-2 bg-success">
                    <div class="card-header">
                        <h4 class="card-title">Email Tracking</h4>
                    </div>
                    <div class="card-body text-light">
                        <p class="card-text">Track statistics of send emails.</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-4 mt-5">
            <a href="#" class="text-decoration-none">
                <div class="card service-item-card p-2 bg-danger">
                    <div class="card-header">
                        <h4 class="card-title">Compress Images</h4>
                    </div>
                    <div class="card-body text-light">
                        <p class="card-text">Save storage space by compressing images.</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-4 mt-5">
            <a href="#" class="text-decoration-none">
                <div class="card service-item-card p-2 bg-secondary">
                    <div class="card-header">
                        <h4 class="card-title">Web Scraping</h4>
                    </div>
                    <div class="card-body text-light">
                        <p class="card-text">Track changes on defined websites.</p>
                    </div>
                </div>
            </a>
        </div>
    </div>
    {% else %}
        <div class="home-info">
            <p class="lead text-center text-muted">
                Djangomat is a project that uses Django and Python to automate boring stuff that people do in their work with
                MS Excel files, data processing and others. I wrote this project to help people deal with boring and time 
                consuming tasks through Python automation.
            </p>
            <p class="lead text-center text-muted">
                To use Djangomat features you must register your account and be logged in.
            </p>
            <div class="action-buttons mt-5">
                <a href="{% url 'login' %}" class="btn btn-lg btn-primary">Login</a> &nbsp; &nbsp;
                <a href="{% url 'register' %}" class="btn btn-lg btn-success">Register</a>
            </div>
        </div>
    {% endif %}
</div>
{% endblock %}