{% extends 'base.html' %}
{% block content %}
<div class="container mt-5">
    <h1 class="text-center mb-5">Boring Stuff Automation Service</h1>
    <div class="row">
        <div class="col-md-4">
            <a href="{% url 'export_data' %}" class="text-decoration-none">
                <div class="card service-item-card p-2 bg-primary">
                    <div class="card-header">
                        <h4>Export Data</h4>
                    </div>
                    <div class="card-body text-light">
                        <p class="card-text">Export data to CSV file and send it to user email.</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-4">
            <a href="{% url 'import_data' %}" class="text-decoration-none">
                <div class="card service-item-card p-2 bg-primary">
                    <div class="card-header">
                        <h4>Import Data</h4>
                    </div>
                    <div class="card-body text-light">
                        <p class="card-text">Import data from CSV file to service database.</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-4">
            <a href="#" class="text-decoration-none">
                <div class="card service-item-card p-2 bg-success">
                    <div class="card-header">
                        <h4>Bulk Emails</h4>
                    </div>
                    <div class="card-body text-light">
                        <p class="card-text">Send emails in bulk mode to multiple recipients.</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-4 mt-5">
            <a href="#" class="text-decoration-none">
                <div class="card service-item-card p-2 bg-success">
                    <div class="card-header">
                        <h4>Email Tracking</h4>
                    </div>
                    <div class="card-body text-light">
                        <p class="card-text">Track statistics of send emails.</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-4 mt-5">
            <a href="#" class="text-decoration-none">
                <div class="card service-item-card p-2 bg-danger">
                    <div class="card-header">
                        <h4>Compress Images</h4>
                    </div>
                    <div class="card-body text-light">
                        <p class="card-text">Save storage space by compressing images.</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-4 mt-5">
            <a href="#" class="text-decoration-none">
                <div class="card service-item-card p-2 bg-secondary">
                    <div class="card-header">
                        <h4>Web Scraping</h4>
                    </div>
                    <div class="card-body text-light">
                        <p class="card-text">Track changes on defined websites.</p>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
{% endblock %}