.action-box {
    background: #13141B;
    padding: 40px 45px;
    border-radius: 8px;
}

.service-item-card {
    background: #13141B;
}

.action-buttons {
    display: flex;
    justify-content: center;
}