/* Specific Item Task Classes in Tasks Pages */
.action-box {
    background: #13141B;
    padding: 40px 45px;
    border-radius: 8px;
}

.service-item-card {
    background: #13141B;
}

.action-buttons {
    display: flex;
    justify-content: center;
}

/* General Item Task Classes on Home Page*/
.card-title {
    color: #fff;
}

#searchBarTasks, #searchBarEmail {
    background: #fff;
    color: #000;
    font-weight: 500;
    width: 60%;
    height: 60px;
    margin: 20px auto;
}

#searchBarTasks::placeholder, #searchBarEmail::placeholder {
    color: #000;
    font-style: italic; 
    opacity: 1;
}

.search-container {
    display: flex; 
    justify-content: flex-start;
    align-items: center;
}

/* Email Tracking CSS */
.table td, .table th {
    vertical-align: middle;
}